.intro__list {
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-top: 33px;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 1.5;
}