.place__paragraphs {
    margin: 0;
    padding: 0;
    max-width: 484px;
    min-width: 350px;
    grid-area: paragraph;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.6;
    color: #FFFFFF;
}

@media screen and (max-width:1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media screen and (max-width:768px) {
    .place__paragraphs {
        max-width: 352px;
        font-size: 1em;
    }
}

@media screen and (max-width:660px) {
    .place__paragraphs {
        padding: 0;
        margin: 0;
        margin-left: 16px;
        max-width: 288px;
        min-width: 200px;
    }
}