.place__paragraphs {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 400px;
    grid-area: paragraph;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.6;
    color: #FFFFFF;
}

@media screen and (max-width:825px) {
    .place__paragraphs {
        font-size: 1em;
        line-height: 1.63;
        min-width: unset;
    }
}

@media screen and (max-width:425px) {
    .place__paragraphs {
        max-width: 100%;
    }
}

@media screen and (max-width:320px) {
    .place__paragraphs {
        margin-left: 16px;
        max-width: 288px;
    }
}
