.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1;
    list-style-type: none;
    color: #FFFFFF;
    text-decoration: none;
}
@media screen and (max-width:320px) {
    .footer__links{ 
        flex-direction: column;
        font-size: 1.5em;
        line-height: 1.5;
    }
}