.lead__subtitle {
    margin:0 auto;
    padding: 0;
    max-width: 640px;
    width: fit-content;
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.875em;
    line-height: 1.01;
    text-align: center;
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 1em;
        line-height: 1.25;
    }
}
