.cover {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    max-width: 100%;
    height: 740px;
    background-image: url(../../images/cover-trains.png);
    background-size: cover;
}

@media screen and (max-width:1024px) {
    .cover {
        height: 640px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width:768px) {
    .cover {
        height: 480px;
    }
}

@media screen and (max-width:320px) {
    .cover {
        height: 200px;
        margin-top: 66px;
    }
}