.cover {
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    position: relative;
}
@media screen and (max-width:1024px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
    }
    
}
@media screen and (max-width:320px) {
    .cover {
    margin-top: 66px;
    }
}