.cover__background{
    width: 100%;
    background: #2A2C2F;
    opacity: 0.8;
    object-fit: cover;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 1;
}
.cover__background:hover {
    opacity: 0.3;
}