.cover__title {
    max-width: 560px;
    z-index: 2;
    margin: 0 auto;
    grid-row: 1/2;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5em;
    line-height: 1.05;
    text-align: center;
    display: grid;
    align-content:end;
}
@media screen and (max-width:320px) {
    .cover__title {
    top: 20%;
    font-size: 2em;
    line-height: 1.09;
    }
    
}