.cover__title {
    max-width: 560px;
    margin: 0 auto;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5em;
    line-height: 1.05;
    text-align: center;
}


@media screen and (max-width:510px) {
    .cover__title {
        font-size: 3.5em;
    }
}

@media screen and (max-width:400px) {
    .cover__title {
        font-size: 2em;
        max-width: 288px;
        line-height: 1.09;
    }
}
