.place__website {
    padding: 0;
    margin: 0;
    grid-area: website;
    align-self: end;
}

@media screen and (max-width:745px) {
    .place__website {
        align-self: flex-start;
        margin-left: 16px;
    }
}