.place__item {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr; 
    grid-template-areas:
    "title website"
    "image paragraph";
    gap:48px 40px;
    box-sizing: border-box;
}
.place__item:nth-child(n+1){
    margin-top: 80px;
}
@media screen and (max-width:1024px) {
    .place__item {
    gap:48px 32px;
    }
}
@media screen and (max-width:768px) {
    .place__item {
    gap:48px 28px;
    }
}
@media screen and (max-width:768px) {
    .place__item:nth-child(n+1){
        margin-top: 73px;
    }
}
@media screen and (max-width:320px) {
    .place__item {
    grid-template-rows: 4fr;
    grid-template-areas: 
    "title"
    "website"
    "image"
    "paragraph";
    gap: 32px;
    }
}
@media screen and (max-width:768px) {
    .place__item:nth-child(n+1){
        margin-top: 50px;
    }
}